@import "tailwindcss";

@theme {
  /* --color-*: initial; */
  --color-pred: #DE4A28;
  --color-pblue: #79A6D3;
  --color-pzinc: #8D97AF;
  --color-lightgray: #D0D6DD;
  --color-darkgray: #E8EBED;
}

body {
  direction: rtl;
}